#navbar .navbar_item{
    color: #D3D3D3;
    padding-left: 5em;
    padding-right: 5em;
    text-decoration: none; /* no underline */
    font-size: .2em;
    text-align: center;

}

#navbar .navbar_item a{
    text-decoration: none; /* no underline */
    color: #D3D3D3;

}

#navbar .navbar_item a:hover{
    text-decoration: none; /* no underline */
    color: #f1f1f1;

}
.vertical_rule{
    background-color: #d3d3d3;
    width: 1px;
    height: 3em;
    vertical-align: bottom;
    margin-top: 1em;

}
